/* Sales */

.sales-container{
    border: 1px solid rgb(65, 63, 63);
    padding: 4em !important;
    background-color: rgb(244, 246, 247);
}

.Sales-left-heading{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 22px;
}

/* sales payment */
.the-fieldset {
    border: 1px solid #615f5f;
    padding: 10px;
}

.the-legend {
    border-style: none;
    border-width: 0;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    width: auto;
    padding: 0 10px;
    border: 1px solid #7e7777;
}

/* table */

.td-cells{
    height: 34px !important;
}

.border-none{
    border: none !important;
}

.product-detail-list{
    margin: 1em 0 1em 1em;
}


/* Purchase section*/

.purchase-container{
    border: 1px solid rgb(65, 63, 63);
    padding: 5em !important;
}

/* goods receiving note */

.gr-container{
    padding: 2em !important;
}

.gr-info{
    border: 1px solid black;
    padding: 2em;
    margin: 1em 0 2em 0;
}

.gr-type{
    border: 1px solid black;
    padding: 2px;
    text-align: center;
}

/* payment receipt */

.payscript-container{
    padding: 2em !important;
}

.pay-type{
    margin: 2em 0 2em 0;
}

/* .pay-items-container{
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    position: relative;
    margin: 0 0 2em -2em;
} */

.pay-cells-head{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 1px solid rgb(53, 50, 50);
    padding: 8px;
    background-color: #d6cece;
    text-align: center;
}

.pay-cells{
    border: 1px solid rgb(53, 50, 50);
    padding: 8px;
}

.pay-cells-large{
    border: 1px solid rgb(107, 104, 104);
    padding: 8px;
    height: 20em;
}